/* CSS HEX */
--ink-black: #040f0fff;
--forest-green: #248232ff;
--medium-jungle: #2ba84aff;
--bright-lemon: #f9e900ff;
--jet-black: #2d3a3aff;

/* CSS HSL */
--ink-black: hsla(180, 58%, 4%, 1);
--forest-green: hsla(129, 57%, 33%, 1);
--medium-jungle: hsla(135, 59%, 41%, 1);
--bright-lemon: hsla(56, 100%, 49%, 1);
--jet-black: hsla(180, 13%, 20%, 1);

/* SCSS HEX */
$ink-black: #040f0fff;
$forest-green: #248232ff;
$medium-jungle: #2ba84aff;
$bright-lemon: #f9e900ff;
$jet-black: #2d3a3aff;

/* SCSS HSL */
$ink-black: hsla(180, 58%, 4%, 1);
$forest-green: hsla(129, 57%, 33%, 1);
$medium-jungle: hsla(135, 59%, 41%, 1);
$bright-lemon: hsla(56, 100%, 49%, 1);
$jet-black: hsla(180, 13%, 20%, 1);

/* SCSS RGB */
$ink-black: rgba(4, 15, 15, 1);
$forest-green: rgba(36, 130, 50, 1);
$medium-jungle: rgba(43, 168, 74, 1);
$bright-lemon: rgba(249, 233, 0, 1);
$jet-black: rgba(45, 58, 58, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-right: linear-gradient(90deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-bottom: linear-gradient(180deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-left: linear-gradient(270deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-top-right: linear-gradient(45deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-bottom-right: linear-gradient(135deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-top-left: linear-gradient(225deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-bottom-left: linear-gradient(315deg, #040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
$gradient-radial: radial-gradient(#040f0fff, #248232ff, #2ba84aff, #f9e900ff, #2d3a3aff);
