/* CSS HEX */
--deep-navy: #0a1045ff;
--bubblegum-pink: #ff6978ff;
--strong-cyan: #00c2d1ff;
--bright-lemon: #f9e900ff;
--sandy-brown: #f6af65ff;

/* CSS HSL */
--deep-navy: hsla(234, 75%, 15%, 1);
--bubblegum-pink: hsla(354, 100%, 71%, 1);
--strong-cyan: hsla(184, 100%, 41%, 1);
--bright-lemon: hsla(56, 100%, 49%, 1);
--sandy-brown: hsla(31, 89%, 68%, 1);

/* SCSS HEX */
$deep-navy: #0a1045ff;
$bubblegum-pink: #ff6978ff;
$strong-cyan: #00c2d1ff;
$bright-lemon: #f9e900ff;
$sandy-brown: #f6af65ff;

/* SCSS HSL */
$deep-navy: hsla(234, 75%, 15%, 1);
$bubblegum-pink: hsla(354, 100%, 71%, 1);
$strong-cyan: hsla(184, 100%, 41%, 1);
$bright-lemon: hsla(56, 100%, 49%, 1);
$sandy-brown: hsla(31, 89%, 68%, 1);

/* SCSS RGB */
$deep-navy: rgba(10, 16, 69, 1);
$bubblegum-pink: rgba(255, 105, 120, 1);
$strong-cyan: rgba(0, 194, 209, 1);
$bright-lemon: rgba(249, 233, 0, 1);
$sandy-brown: rgba(246, 175, 101, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-right: linear-gradient(90deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-bottom: linear-gradient(180deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-left: linear-gradient(270deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-top-right: linear-gradient(45deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-bottom-right: linear-gradient(135deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-top-left: linear-gradient(225deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-bottom-left: linear-gradient(315deg, #0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
$gradient-radial: radial-gradient(#0a1045ff, #ff6978ff, #00c2d1ff, #f9e900ff, #f6af65ff);
