/* CSS HEX */
--wine-plum: #773344ff;
--atomic-tangerine: #ff7733ff;
--tropical-teal: #17bebbff;
--frosted-mint: #d4f4ddff;
--coffee-bean: #0b0014ff;

/* CSS HSL */
--wine-plum: hsla(345, 40%, 33%, 1);
--atomic-tangerine: hsla(20, 100%, 60%, 1);
--tropical-teal: hsla(179, 78%, 42%, 1);
--frosted-mint: hsla(137, 59%, 89%, 1);
--coffee-bean: hsla(273, 100%, 4%, 1);

/* SCSS HEX */
$wine-plum: #773344ff;
$atomic-tangerine: #ff7733ff;
$tropical-teal: #17bebbff;
$frosted-mint: #d4f4ddff;
$coffee-bean: #0b0014ff;

/* SCSS HSL */
$wine-plum: hsla(345, 40%, 33%, 1);
$atomic-tangerine: hsla(20, 100%, 60%, 1);
$tropical-teal: hsla(179, 78%, 42%, 1);
$frosted-mint: hsla(137, 59%, 89%, 1);
$coffee-bean: hsla(273, 100%, 4%, 1);

/* SCSS RGB */
$wine-plum: rgba(119, 51, 68, 1);
$atomic-tangerine: rgba(255, 119, 51, 1);
$tropical-teal: rgba(23, 190, 187, 1);
$frosted-mint: rgba(212, 244, 221, 1);
$coffee-bean: rgba(11, 0, 20, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-right: linear-gradient(90deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-bottom: linear-gradient(180deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-left: linear-gradient(270deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-top-right: linear-gradient(45deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-bottom-right: linear-gradient(135deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-top-left: linear-gradient(225deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-bottom-left: linear-gradient(315deg, #773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
$gradient-radial: radial-gradient(#773344ff, #ff7733ff, #17bebbff, #d4f4ddff, #0b0014ff);
